<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>
        <h1>Halaman Home Page</h1>
        <h3>
            <%= 'Hello World' .toUpperCase() %>
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus accusantium illo, perferendis fugit
            error,
            repellat minus corporis distinctio voluptatibus temporibus maxime, aliquam assumenda possimus laudantium quo
            enim ea. Unde.</p>

        <%- include('partials/footer.ejs') %>