<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Halaman Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus accusantium illo, perferendis fugit error, repellat minus corporis distinctio voluptatibus temporibus maxime, aliquam assumenda possimus laudantium quo enim ea. Unde.</p>
</body>

</html>